.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: transparent;
  transition: all 0.3s ease;
}

/* navbar spacing */
.main-header .navbar {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* nav link color on video */
.main-header .nav-link {
  color: white;
  font-weight: 500;
}

/* when scrolling */
.main-header.scrolled {
  background: white;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.main-header.scrolled .nav-link {
  color: #000;
}

/* mobile fix */
@media (max-width: 991px) {
  /* .main-header {
    background: rgba(0,0,0,0.6);
  } */

  .navbar-collapse {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
  }

  .navbar-collapse .nav-link {
    color: #000;
  }
}
/* hero  section start */
.hero-section {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background:rgba(0,0,0,0.5); */
}

.hero-content {
  position: relative;
  z-index: 999;
  top: 300px;
  padding: 80px 0;
}

.hero-tag {
  background: #ff6b00;
  border: none;
  color: #fff;
  padding: 8px 18px;
  border-radius: 5px;
}

.video-btn {
  background: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .hero-section {
    min-height: 50vh;
  }

  .hero-content {
    padding: 40px 0;
    top: 100px;
  }
}

/* Mobile optimization */
@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 28px;
  }

  .hero-section p {
    font-size: 15px;
  }

  .hero-video {
    height: 50vh;
  }
}
.img_icon_achievement {
  font-size: 10px;
}

/* rating section start  */
.testimonials {
  padding: 60px 0;
  background: #f8fafc;
  overflow: hidden;
}

/* wrapper hides overflow */

.testimonial-wrapper {
  overflow: hidden;
  position: relative;
}

/* scrolling track */

.testimonial-track {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scroll 25s linear infinite;
}

/* pause on hover */

.testimonial-track:hover {
  animation-play-state: paused;
}

/* testimonial card */

.testimonial-card {
  width: 300px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
}

.review {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.rating {
  font-size: 18px;
  margin-bottom: 6px;
}

.location {
  font-size: 13px;
  color: #777;
}

/* animation */

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* mobile adjustments */

@media (max-width: 768px) {
  .testimonial-card {
    width: 260px;
  }
}

/* service banner */
.service_banner {
  height: 300px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  object-fit: cover;
  display: block; /* to remove inline-gap if img tag */
}

.sub_services_card {
  padding: 12px;
  margin: -23px;
}

.footer_logo {
  max-width: 180px;
  height: auto;
  display: block;
  margin-bottom: 15px;
  width: 150px;
}

/* background color */
.bg_footer {
  background-color: #e8ffe9;
}
.gradient-bg {
  background: linear-gradient(to right, #fefee7, #ffffff);
  padding: 20px;
}
.gradient_howitwork-bg {
  background: linear-gradient(to right, #f3fcf2, #ffffff);
  padding: 20px;
}
.gradient_contact_us-bg {
  background: linear-gradient(to right, #fdeae8, #ffffff);
  padding: 20px;
}
/* you tube video  start*/
.video-section h2 {
  font-size: 28px;
}

.book-btn {
  padding: 12px 28px;
  font-size: 16px;
}

/* Mobile */

@media (max-width: 768px) {
  .video-section {
    text-align: center;
  }

  .video-section h2 {
    font-size: 22px;
  }

  .book-btn {
    width: 100%;
  }
}
/* why choose us  start*/
.why-choose-us {
  background: #f8fafc;
}

/* card */

.feature-card {
  background: #fff;
  border-radius: 12px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

/* hover effect */

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

/* icon */

.feature-icon {
  font-size: 40px;
}

/* mobile spacing */

@media (max-width: 768px) {
  .feature-card {
    padding: 20px;
  }

  .feature-icon {
    font-size: 36px;
  }
}

/* service section start */
.service-card {
  border-radius: 20px;
  overflow: hidden;
}

/* .service-img {
  height: 180px;
  object-fit: cover;
} */

@media (max-width: 768px) {
  .service-img {
    height: 140px;
  }
}

/* sub service section start  */

.sub-service-card {
  background: #fff;
  border-radius: 12px;
  padding: 20px 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.sub-service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.sub-service-icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 10px;
}

.sub-service-title {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

/* mobile */

@media (max-width: 768px) {
  .sub-service-icon {
    width: 50px;
    height: 50px;
  }

  .sub-service-title {
    font-size: 13px;
  }
}

/* call to action */

.floating-contact {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 999;
}

.floating-contact a {
  width: 48px;
  height: 48px;
  /* background: #fff4f4; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 4px 10px rgba(0,0,0,0.2); */
  transition: all 0.3s ease;
}

.floating-contact a:hover {
  transform: scale(1.1);
}

/* enquery form */

.enquiry-fixed {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 9999;
}

.enquiry-fixed a {
  opacity: 0;
  background: #00522c;
  color: #fff !important;
  padding: 12px 18px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  letter-spacing: 1px;
  animation: showAfterDelay 0.5s ease forwards;
  animation-delay: 4s;
}

@keyframes showAfterDelay {
  to {
    opacity: 1;
  }
}
.enquiry-fixed a:hover {
  background: #ffffff;
  color: #00522c !important;
  font-weight: 900;
}

.fornt_call {
  border: 2px solid #000;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
}

.fornt_call li {
  list-style: none;
  margin: 5px 0;
}
/* model start */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-box {
  background: #fff;
  padding: 30px;
  width: 400px;
  border-radius: 10px;
  position: relative;
}

/* Mobile View */
@media (max-width: 576px) {
  .modal-box {
    padding: 20px;
    max-width: 95%;
  }
}
/* button */
.video-btn {
  background: #03c95a;
  color: #ffffff;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.3s;
}

.video-btn:hover {
  background: #fffffa;
  color: #03c95a;
}

/* Mobile View */
@media (max-width: 768px) {
  .video-btn {
    writing-mode: horizontal-tb;
    transform: none;
    border-radius: 6px;
    padding: 10px 14px;
    font-size: 14px;
  }
}

/* .nav-link.active {
    background-color: rgba(255, 0, 138, 0.1);
    color: #FF008A;
} */

.nav-link.active {
  background-color: rgba(202, 222, 204, 0.573);
  color: #a9e5b9;
}
a {
  color: rgb(3 0 0);
  text-decoration: none;
}

p.footer_reserved-key {
  color: #363d3a;
  text-align: center;
  padding: 1px 10px 10px 10px;
  font-size: 12px;
  font-weight: 500;
}
/*  */
.top_services {
  font-size: 12px;
}

.main_pading_image {
  padding: 6px 3px 2px 2px;
  margin: 28px 2px 2px 2px;
}
